@import "tailwindcss";

:root {
  --color-text: #3b2f00;
  --color-bg: #f1e3b0;
  --color-card-bg: #eecf5f;
  --color-card-text: #3b2f00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #ff80ab;
    --color-card-text: #fff0f6;
    --color-bg: #1e1e2e;
    --color-card-bg: #3d2a3d;
  }
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}
